.arrow {
	width: 250px;
	height: 250px;
	border: 1px solid #ccc;
	background: url(../../assets/plus.svg);
}


.app {
	width: 500px;
	height: 500px;
	border: 1px solid #ccc;
}

.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #ccc;
	padding: 5px 20px 5px 5px;
	background-image: url("../../assets/arrow.svg");
	outline: none;
}